@import url(./item/cards-item.css);
@import url(./image/cards-image.css);
@import url(./title/cards-title.css);
@import url(./description/cards-description.css);

.cards{
    width: 920px;
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    box-sizing: border-box;
    
}