.photo-grid-item {
    /* подгоним картинки под размеры */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* поговорим, почему псевдоклассы */
.photo-grid-item:first-of-type {
    /* создадим area */
    grid-row-start: 1;
    grid-row-end: 4;
}

.photo-grid-item:nth-of-type(4) {
    /* создадим area */
    grid-column-start: 2;
    grid-column-end: 4;
}