@import url(title/header-title.css);
@import url(cover/header-cover.css);
@import url(square/header-square.css);


.header {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    overflow: hidden;
    height: 500px;
   
    /* выше установили ограничения для секции */
}
