@import url(./__title/header__title.css);
@import url(./__cover/header__cover.css);
@import url(./__square/header__square.css);


.header {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    overflow: hidden;
    height: 500px;
   
    /* выше установили ограничения для секции */
}
