.footer__link {
  text-decoration: none;
  color: white;
  display: inline-block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__link:hover {
  color: #2f80ed;
  text-decoration: underline;
}