@import url(./brief/two-columns-brief.css);
@import url(./main-text/two-columns-main-text.css);
@import url(./paragragh/two-columns-paragragh.css);



.two-columns{
  width: 80%;
  margin: auto;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
}