@import url(../vendor/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/description/description.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/page/page.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/video/video.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/resources/resources.css);