@import url(./author/footer-author.css);
@import url(./columns/footer-columns.css);
@import url(./column/footer-column.css);


.footer{
  min-height: 80px;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  color: white;
  margin: 0;


}