
.header__title{
    width: 30%;
    line-height: 1.5;
    font-size: 45px;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
    padding-left: 20px;
    color: whitesmoke;
    z-index: 3;
   
}
